    <div class="card bg-light my-3 w-85">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="mx-4 d-flex">
                        <img src="/static/img/fachela.jpg" style="max-height: 60px;"
                             class="rounded float-right img-fluid" alt="...">
                    </div>
                    <div class="mx-1 p-3">
                        <button type="button" class="btn btn-success btn-sm mx-1"><span class="glyphicons glyphicons-plus">+</span></button>
                        <button class="btn btn-secondary btn-disabled w-25 btn-sm mx-1" disabled>{{ comment.rating }}</button>
                        <button type="button" class="btn btn-danger btn-sm mx-1"><span class="glyphicons glyphicons-plus">-</span></button>
                    </div>

                </div>

                <div class="col-md-8">
                    <div>
                        <p class="card-text">{{ comment.text }}</p>
                    </div>
                    <div class="my-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" {% if comment.is_correct %}checked{% endif %}>
                                Correct!
                            </label>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>